<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="change_IP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <change_IP.Properties.Settings>
            <setting name="NetworkName" serializeAs="String">
                <value>Wi-Fi</value>
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value>192.168.3.3</value>
            </setting>
            <setting name="GetWay" serializeAs="String">
                <value>192.168.3.1</value>
            </setting>
        </change_IP.Properties.Settings>
    </userSettings>
</configuration>